<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.ui.cs.mobileprogramming.muhammad_ardivan_satrio_nugroho.sadboiapp">
    <!-- Permission Internet Access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowStoryDetail"></activity>
        <activity android:name=".ui.activity.QuoteActivity" />
        <activity android:name=".ui.activity.StoryActivity" />
        <activity android:name=".ui.activity.CreateUpdateStoryActivity" />
        <activity android:name=".ui.activity.CreateUpdateQuoteActivity" />
        <activity
            android:name=".ui.activity.HomeNavigationActivity"
            android:label="@string/title_activity_home_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".network.NetworkReceiver"
            android:label="ConnectivityDetection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>